@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  background-color: #F3F3F3;
  box-sizing: border-box;
  overflow-x: hidden;
}
:root{
  scroll-behavior: smooth;
}
@media (max-width:850px){
  body{
      overflow-x: hidden;
  }
}